@font-face {
  font-family: 'DepartureMono Nerd Font';
  src: url('../fonts/DepartureMonoNerdFont-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FusionPixel';
  src: url('../fonts/fusion-pixel-12px-monospaced-zh_hans.ttf.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}








