/* 文风字体授权标注 */
/* 此中文网页字体由文风字体（Windfonts）免费提供 https://wenfeng.org/license */

@import url("https://app.windfonts.com/api/css?family=wenfeng-ibmps:wght@thin;extralight;light;regular;text;semibold;medium;bold");

@font-face {
  font-family: "code";
  src: url("../fonts/Recursive.woff2") format("woff2");
}
